# Python
mos-env/
__pycache__/
*.pyc

# Models
models/
*.gguf

# macOS
.DS_Store

# Logs
logs/

# App bundles
*.app

# Archives
*.zip

# Backup files
*.bak

# Temp / Editor junk (optional aber empfehlenswert)
*.tmp
*.swp
*.orig
